@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 43% 95%;
    --foreground: 212 30% 20%;
    --card: 0 0% 100%;
    --card-foreground: 212 30% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 212 30% 20%;
    --primary: 212 30% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 98%;
    --secondary-foreground: 212 30% 20%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 14 70% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 14 70% 62%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 212 30% 10%;
    --foreground: 210 40% 98%;
    --card: 212 30% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 212 30% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 212 30% 20%;
    --secondary: 212 30% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 212 30% 20%;
    --muted-foreground: 215 16% 57%;
    --accent: 14 70% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 212 30% 20%;
    --input: 212 30% 20%;
    --ring: 14 70% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
